In [ ]:
#!pip install -r requirements.txt

In [1]:
import pandas as pd
import numpy as np
file_name ="test.csv"
df =  pd.read_csv(file_name)

In [2]:
df.head()

    A         B    C  D
0  52 -0.463418  NaN  Z
1  93 -0.465730  2.5  Z
2  15  0.241962  NaN  X
3  72 -1.913280  4.5  Z
4  61 -1.724918  NaN  Z

In [3]:
for i in df.columns:
    print(f'{i} is a ',df[f'{i}'].dtype)

A is a  int64
B is a  float64
C is a  float64
D is a  object

# Ajouter un truc pour gérer les variables catégorielles

In [6]:

count_nan=df.isna().sum()
print(f"Il y'a {len(df.columns)} colonnes ({[i for i in df.columns]}) et {len(df)} lignes dans le fichier {file_name},\nLes NAN par colonnes sont: \n{count_nan}")
print ('Voilà la description plus précise des différentes colonnes du fichier :')
df.describe()

Il y'a 4 colonnes (['A', 'B', 'C', 'D']) et 9 lignes dans le fichier test.csv,
Les NAN par colonnes sont:
A    0
B    0
C    0
D    0
dtype: int64
Voilà la description plus précise des différentes colonnes du fichier :

               A         B          C
count   9.000000  9.000000   9.000000
mean   47.333333 -0.622875  10.944444
std    34.036745  0.798626   6.146363
min     2.000000 -1.913280   2.500000
25%    22.000000 -1.412304   6.500000
50%    30.000000 -0.465730  10.500000
75%    75.000000 -0.225776  14.500000
max    93.000000  0.375698  20.500000

Deleting columns with missing values:

In [ ]:
for i in df.columns:
    if count_nan[i] != 0:
        df.drop([i], axis=1, inplace=True)
# print ('nombre de nan :'count_nan)

Supprimer les missing values:

In [5]:
df = df.dropna()
# print ('nombre de nan :'count_nan)

# Il manque la méthode KNN